body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('main_background.jpg');
    background-size:cover;
    background-position: center;
  }
  
  
  .main-heading {
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
  
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main-heading {
    text-align: center;
    color: #002633;
    margin-top: 0;
  }
  
  .form {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
  }
  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  #submitBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: #002633;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
  }

  #submitBtn:hover {
    background-color: #001a1f;
  }
  
  
  .input-group {
    position: relative;
  }
  
  .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    appearance: none;
  }
  
  .input-group::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #aaa;
    pointer-events: none;
  }
  
  .input-group select:focus {
    outline: none;
    box-shadow: 0 0 5px #aaa;
  }
  
  .input-group select option {
    background-color: #fff;
    color: #333;
  }
  